[Unit]
Description='Mount&Blade Warband Dedicated Server'
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/screen -dmS Warband sh -c 'wineconsole --backend=curses /opt/warband/mb_warband_dedicated.exe -r %i.txt -m Native'
ExecStop=/usr/bin/screen -X -S Warband quit
KillMode=mixed
Type=forking
Restart=always
RestartSec=2
User=mbserver
Group=mbserver

[Install]
WantedBy=multi-user.target
